{% extends "base.html" %}

{% block title %}Teacher page{% endblock %}

{% block nav_item %}
<a class="nav-item nav-link active" id="studentAttendance" href="/student-attendance">Attendance</a>
<a class="nav-item nav-link active" id="studentList2" href="/student-list2">Students</a>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-dismissible alert-{{ message[0] }} mt-1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message[1] }}
    </div>
{% endfor %}
<h1 class="mt-3" align="center">Students Data</h1>

<table class="table table-hover mt-3">
    <thead>
        <tr class="table-active">
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Batch</th>
            <th scope="col">Semester</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.student_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.batch }}</td>
            <td>{{ user.semester }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}