{% extends "base.html" %}

{% block title %}Teacher page{% endblock %}

{% block nav_item %}
<a class="nav-item nav-link active" id="studentAttendance" href="{{ url_for('teacherAuth.studentAttendance') }}">Attendance</a>
<a class="nav-item nav-link active" id="studentList2" href="{{ url_for('teacherAuth.studentList2') }}">Students</a>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-dismissible alert-{{ message[0] }} mt-1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message[1] }}
    </div>
{% endfor %}

<form method="POST">
    <fieldset>
        <div class="form-group mt-2" align="center">
            <label for="inputDate" class="form-label mt-1">Choose date:</label>
            <input type="date" class="form-control" id="inputDate" name="date" style="max-width: 25rem;" required>
        </div>
        <table class="table table-hover mt-3">
            <thead>
                <tr class="table-active">
                    <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.user_id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.batch }}</td>
                        <td>{{ student.semester }}</td>
                        <td>{{ student.email }}</td>
                        <td>
                            <input type="radio" class="form-check-input" name="{{ student.email }}" id="status1" value="Present" required>
                            <label for="status1">Present</label>
                            <input type="radio" class="form-check-input" name="{{ student.email }}" id="status2" value="Absent" required>
                            <label for="status2">Absent</label>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div align="center">
            <input type="submit" class="btn btn-info mt-1"></input>
        </div>
    </fieldset>
</form>
{% endblock %}